@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Playfair+Display&family=Roboto&display=swap');

:root {
    --dark: #000000;
    --dark_line: #030303;
    --dark_transparent: #000000ef;
    --gray: #CCCCCC;
    --crimson: #880D1E;
    --rusty_red: #F81E42;
    --brink_pink: #F26A8D;
    --amaranth_pink: #F49CBB;
    --light: #FFFFFF;
    --light_cyan: #CBEEF3;
    --light_dark: #FFFFFF;
}

